/* black color #000000 */
/* white color #FFFFFF */
/* main text color #212121 */
/* second text color #757575 */
/* accent color #2196F3 */
/* footer contacts text color: rgba(255, 255, 255,0.6); */

/* header background: #FFFFFF; */
/* hero & footer background: #2F303A; */
/* second background: #F5F4FA; */ 

body {
    background-color: #FFFFFF;
    color: #757575;
}

.logo {
    color: #00000;
    text-decoration: none;
}

.logo > span {
    color: #2196F3;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.site-nav .link {
    color: #212121;
}

.auth-nav .link {
    color: #757575;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: #2196F3;
}

.section-title {
    color: #212121;
}

.feature-list .title {
    color: #212121;
}

.team-list .title {
    color: #212121;
}